<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      		{% if session.logged_in %}
	      			{% if session.booked_ride %}
						<a href="/vieworcancel" class="navbar-brand" id="heading">HOME</a>
					{% else %}
						<a href="/dashboarduser" class="navbar-brand" id="heading">HOME</a>
	      			{% endif %}
				{% elif session.adminlogged_in %}
					<a href="/dashboardadmin" class="navbar-brand" id="heading">HOME</a>
				{% else %}
					<a href="/" class="navbar-brand" id="heading">Vehicle Management System</a>
				{% endif %}
				<!-- <a href="/" class="navbar-brand" id="heading">Vehicle Management System</a> -->
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="/About">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if session.logged_in %}
						<li><a href="/Logout">Log Out</a></li>
					{% elif session.adminlogged_in %}
						<li><a href="/Logout">Log Out</a></li>
					{% else %}
						<li><a href="/Sign Up">Sign Up</a></li>
						<li><a href="/Login">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
</nav>